header {
  background-color: #453B7F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff; 
  padding: 10px; 
  width: 15%;
  margin: 0;
  display: inline-block;
  justify-self: flex-start;
}

.ed {
  color: #8AE588;
}

#logo {
  text-decoration: none;
}

.sign-in-btn {
  color: #fff;
  background-color: transparent;
  border: none;
}

.sign-up-btn {
  background-color: #8AE588;
  border-radius: 30px;
  border: 1px solid transparent;
  margin: 15px;
  padding: 5px;
  height: 35px;
}