header {
  align-items: center;
  background-color: #3b4a7f;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

h1 {
  color: #fff; 
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  justify-self: flex-start;
  margin: 0;
  padding: 10px; 
  width: 15%;
}

.ed {
  color: #8AE588;
}

#logo {
  text-decoration: none;
}

.sign-in-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  margin: 10px 15px 10px 10px;
  transition: transform .2s;
  &:hover { font-style:italic;
  transform: scale(1.5); }
}

.sign-up-btn {
  background-color: #8AE588;
  border-radius: 30px;
  border: 1px solid transparent;
  height: 35px;
  margin: 10px 35px 10px 10px;
  padding: 5px;
  transition: transform .2s;
  &:hover { font-style:italic;
  transform: scale(1.5); }
}

.signed-in-info{
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vh;
  max-width: 500px;
  width: 50vw;
}

.teacher-name {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  margin: unset;
}

.link-to-dashboard {
  color: #fff;
}

.link-to-dashboard:hover {
  color: #8AE588;
  font-size: 1.1rem;
}

.sign-out-btn {
  background-color: rgb(187, 47, 47);
  border-radius: 30px;
  color: #fff;
  transition: transform .2s;
  &:hover {
    font-style: italic;
    transform: scale(1.2);
  }
}