.nav-bar {
  background-color:#2B3551;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100vw;
}

.search-options {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.label {
  margin: 0;
}

#categories {
  color: #fff;
}

