.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.search-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.label {
  margin: 0;
}