.dashboard {
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h2 {
    color: #2B3551;
  }

  section {
    border: 5px solid #2B3551;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 40vh;
    overflow: scroll;
    padding: 10px;
    width: 90vw;
  }
}

.dashboard-course {
  background: #3b4a7f;
  border-radius: 10px;
  color: #ffffff;
  height: 35vh;
  padding: 4px;
  margin: 5px;
  width: 35vw;
}

.dashboard-course:hover {
  height: 36vh;
  width: 36vw;
}

.course-title {
  margin-top: 5px;
}

.course-thumbnail {
  height: 65%;
}

.blank-field-msg {
  align-self: center;
  margin: 0 auto;
}