.coursecard {
  border: 1px solid gray;
  border-radius: 2px;
  height: 405px;
  width: 242px;
  margin: 10px;
}

.course-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  height: 250px;
}

.title {
  display: block;
  font-size: 1.2em;
}

.category {
  display: block;
  font-size: 1.0em;
}

.description {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 120px;
  width: 100%;
  text-overflow: ellipsis;
  text-align: left;
  font-size: .9em;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
  height: 30px;
  font-size: .9em;
  padding: 0;
}