.coursecard {
  // display: flex;
  height: 350px;
  width: 240px;
  margin: 20px;
}

.title {
  display: block;
  font-size: 1.2em;
}

.description, .category {
  display: block;
  font-size: 1.0em;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
}