.coursecard {
  border: 1px solid gray;
  height: 375px;
  width: 242px;
  margin: 10px;
  color: #2B3551;
  text-align: left;
  box-shadow: 0px 5px 5px grey;
  transition: transform .2s;
  &:hover { transform: scale(1.07); }
}

.thumbnail {
  border-bottom: 2px solid #453B7F;
  // height: 180px;
  width: 240px;
}

.course-info {
  padding: 0 10px;
  height: 220px;
  width: 100%;
}

.title {
  display: inline-block;
  height: 60px;
  width: 100%;
  font-size: 1.0em;
  overflow: hidden;
}

.category {
  display: inline-block;
  font-size: .8em;
  width: 100%;
}

.description {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 60px;
  width: 100%;
  text-overflow: ellipsis;
  text-align: left;
  font-size: .8em;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
  height: 30px;
  font-size: .8em;
  padding: 0;
}

.add-to-list-btn {
  background-color: #3b4a7f;
  color: #fff;
  text-decoration: none;
  transition: transform .2s;
  &:hover { font-style:italic;
    transform: scale(1.2);
    border-radius: 30px;
    text-decoration: none; }
}

.begin-course-btn {
  background-color: #8AE588;
  text-decoration: none;
  transition: transform .2s;
  &:hover { font-style:italic;
    transform: scale(1.2);
    border-radius: 30px;
    text-decoration: none; }
}